body{
    background-color:hsl(0, 0%, 81%) ;
    display: flex;
    justify-content: center;
}

.container{
    max-width: 1400px;
    font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  gap:30px ;
  padding: 10%;
}

.container1{
    background-color: hsl(263, 55%, 52%); 
    grid-column: span 2;
    .img{
        border: 2px solid violet;
    }
}

.img{
    display: inline;
    border-radius: 50%;
    float: left;
    border: 2px solid hsl(263, 55%, 52%);
    margin-right: 4%;
}

.container2{
    background-color: hsl(217, 19%, 35%);
}


.container3{
    background-color: white;
p{
    color: #000;
}
}

.container4{
    background-color: hsl(219, 29%, 14%);
    grid-column: span 2;
}

.container5{
    grid-area: 1/4/3/4;
    background-color: white;
p{
    color: #000;
    padding: 0%;
}

}

.con{
    border-radius: 10px;
    padding: 5%;
    padding-top: 2%;
}

.svg{
    float: right;
    height: 72px;
}

.heading{
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.none{
    color: white;
    opacity: 50%;
}

.title{
    color: white;
    opacity: 50%;
}

p{
    color: white;
    padding: 0% 10px;
}

@media(max-width:500px){
.container{
    display: flex;
    flex-direction: column;
    flex-basis: content;
}
}

.name{
    margin-bottom: 0%;
}
.title{
    margin-top: 0%;
}